.-twentytwenty-index h2 {
  text-align: center;
  line-height: 1.3em;
  margin: 20px auto;
}

.-twentytwenty-index hr {
  max-width: 120px;
  background: #eee;
  border-radius: 1px;
  margin: 40px auto;
  height: 4px;
}

.-twentytwenty-index p {
  margin: 24px auto;
  max-width: 720px;
  width: 90%;

}

.-twentytwenty-index #call-for-posters ul {
  margin: 24px auto;
  padding: 0 20px;
  max-width: 720px;
  width: 90%;
}

.btn.btn-primary a {
  color: #fff;
}

.dhlab_logo {
  max-width: 210px;
  padding: 20px 0;
}

.row.footer-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-col-byline {
  text-align: right;
}

@media screen and (max-width : 600px){
  .row.footer-row {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-col {
    width: 100%;
    text-align: center;
    display:flex;
  }
  .footer-col img {
    margin:  0px auto;
  }

  #call-for-posters .cfp-submit-link {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
