<section id="covid_announcement">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Postponement of 2020 Symposium</h2>
                <hr>
                <p>
                Given the current circumstances surrounding COVID-19, we are postponing the Boston-Area Digital Scholarship Symposium 2020, originally scheduled for Friday, May 1, 2020 at MIT.
                </p>

                <p>
                As soon as we are able to resume planning for next Spring, we will be in touch with information about further details for #BDSS2021.
                </p>

                <p>
                Effective immediately, we are closing our call for posters. We have already received a number of excellent poster submissions,
                and we have reached out to those authors with next steps. Invited speakers will also be contacted.
                </p>

                <p>
                MIT’s official policies in response to COVID-19 can be found at <a href="http://mit.edu/covid19/">http://mit.edu/covid19/</a>.
                </p>

                <p>
                If you have any questions feel free to contact us at <a href="mailto:digitalhumanities@mit.edu">digitalhumanities@mit.edu</a>.
                </p>

                </p>
            </div>
        </div>
    </div>
</section>
