<!DOCTYPE html>
<html>

  {% include 2020_data/head.html %}


    <body id="page-top" class="index -twentytwenty-index">

    {% include 2020_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="darken">
          <div class="container">
              <div class="intro-text">
                  <div class="intro-heading">Boston Area Digital Scholarship Symposium</div>
                  <br>
                  <br>
                  <div class="intro-lead-in">May 1st 2020, 9AM – 4PM</div>
                  <div class="intro-lead-in">Bartos Theatre @ MIT</div>
                  <br>
                  <br>
                  <a href="https://bit.ly/3a4q99g" class="page-scroll btn btn-xl btn-primary">Register to Attend</a>
              </div>
          </div>
        </div>
    </header>

    {% include 2020_data/intro.html %}
    {% include 2020_data/cfp.html %}
    {% include 2020_data/footer.html %}

    {% include 2020_data/js.html %}

    </body>
</html>
