<!DOCTYPE html>
<html>

  {% include 2020_data/head.html %}


    <body id="page-top" class="index -twentytwenty-index">

    {% include 2020_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="darken">
          <div class="container">
              <div class="intro-text">
                  <div class="intro-heading">Boston Area Digital Scholarship Symposium</div>
                  <br>
                  <br>
                  <div class="intro-lead-in">Event postponed until Spring 2021</div>
              </div>
          </div>
        </div>
    </header>

    {% include 2020_data/covid.html %}
    {% include 2020_data/footer.html %}

    {% include 2020_data/js.html %}

    </body>
</html>
